<mat-sidenav-container class="">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">
    <h1>{{ title }}</h1>
    <mat-list>
     <mat-list-item><a routerLink="/dashboard">Dashboard</a></mat-list-item>
     <mat-list-item><a routerLink="/heroes">Heroes</a></mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon aria-label="menu">menu</mat-icon>
      </button>
   
      <h1>{{title}}</h1>
   
      <app-hero-search></app-hero-search>

    </mat-toolbar>
    <div class="content">
      

      <router-outlet></router-outlet>

      <app-messages></app-messages>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>