/* Application-wide Styles */
.mat-sidenav {
  padding: 30px;
}

.mat-icon-button {
  background-color: white;
  margin-right: 20px;
}

.row {
  width: 100%;
  height: 100%;
}

.mat-sidenav-content .content {
  min-height: 100vh;
  padding: 2rem 2rem;
}

.mat-toolbar .mat-icon {
  color: #000;
}
