<mat-card>
  <mat-card-content fxLayout="row" fxLayoutAlign="space-between center">
    <label>Add hero:
      <input #heroName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button mat-flat-button color="primary" (click)="add(heroName.value); heroName.value=''">
      <mat-icon aria-label="add">add</mat-icon>Add Hero
    </button>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <mat-list class="heroes">
      <mat-list-item *ngFor="let hero of heroes">
        <!-- <mat-icon matListIcon>folder</mat-icon> -->
        <!-- <h3 matLine> {{hero.id}} </h3> -->
        <a matLine routerLink="/detail/{{hero.id}}">
          <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>

        <!-- <button class="delete" title="delete hero"
      (click)="delete(hero)">x</button> -->
        <button mat-icon-button class="edit" title="edit hero"
        routerLink="/detail/{{hero.id}}">
            <mat-icon aria-label="delete">edit</mat-icon>
        </button>
        <button mat-icon-button class="delete" title="delete hero"
        (click)="delete(hero)">
          <mat-icon aria-label="delete">delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

    



    